<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
  <meta charset="utf-8">
  <title><%= config.title %></title>
  <meta name="viewport" content="width=device-width">
  <%- css('style') %>
  <link rel="icon" type="image/png" href="favicon.png" sizes="96x96">
</head>
<body>
  <main class="container">
    <%- body %>
  </main>
</body>
</html>
